.ant-btn {
  box-shadow: none !important;
}

.ant-btn:disabled,
.ant-btn.ant-btn-disabled {
  opacity: 50% !important;
}

.ant-btn-default {
  height: 24px !important;
  padding: 0 12px !important;
  border: none !important;
  border-radius: 1px !important;
  background: var(--library-button-default-bg) !important;
  color: var(--library-button-default-color) !important;
  fill: currentColor !important;
  font-size: 13px !important;
  font-weight: 600 !important;
}

.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  background: var(--library-button-default-hover-bg) !important;
  color: var(--library-button-default-hover-color) !important;
}

.ant-btn-default:not(:disabled):not(.ant-btn-disabled):active {
  background: var(--library-button-default-active-bg) !important;
  color: var(--library-button-default-active-color) !important;
}

.ant-btn-default>svg,
.ant-btn-default>img,
.ant-btn-default>.btn-icon {
  margin-bottom: -4px !important;
  margin-right: 6px !important;
  height: 16px !important;
  width: 16px !important;
  overflow: unset !important;
}
.btn-toolkit {
  margin-bottom: 8px;
}
.btn-toolkit>button,
.btn-toolkit>span {
  margin-right: 10px !important;
}

.btn-toolkit>.ant-btn-text {
  padding: 0 !important;
  margin: 0;
  height: auto !important;
  font-weight: 600;
}

.btn-toolkit>.ant-btn-text>.btn-icon {
  margin-bottom: -3px;
  margin-right: 3px;
}

.btn-toolkit>.ant-btn-text:hover {
  background-color: transparent !important;
}

.btn-toolkit>.ant-btn-text:hover>span {
  text-decoration: underline !important;
}
