.ant-btn {
  box-shadow: none !important;
}

.ant-btn-default {
  height: 24px !important;
  padding: 0 12px !important;
  border: none !important;
  border-radius: 1px !important;
  background: #f4f4f4 !important;
  color: #5f5f5f !important;
  fill: #5f5f5f !important;
  font-size: 13px !important;
  font-weight: 600 !important;
}

.ant-btn-default:hover {
  background-color: #e4e4e4 !important;
}

.ant-btn-default:active {
  background-color: #bbb !important;
}

.ant-btn-default>svg,
.ant-btn-default>img,
.ant-btn-default>.btn-icon {
  margin-bottom: -4px !important;
  margin-right: 6px !important;
  height: 16px !important;
  width: 16px !important;
  overflow: unset !important;
}

.btn-toolkit>button,
.btn-toolkit>span {
  margin-right: 10px !important;
}

.btn-toolkit>.ant-btn-text {
  padding: 0 !important;
  margin: 0;
  height: auto !important;
  font-weight: 600;
}

.btn-toolkit>.ant-btn-text>.btn-icon {
  margin-bottom: -3px;
  margin-right: 3px;
}

.btn-toolkit>.ant-btn-text:hover {
  background-color: transparent !important;
}

.btn-toolkit>.ant-btn-text:hover>span {
  text-decoration: underline !important;
}