.ant-collapse-item > .ant-collapse-header {
  padding: 12px 0 !important;
}

.ant-collapse-item > .ant-collapse-header > .ant-collapse-header-text {
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
}

.ant-collapse-item > .ant-collapse-header > .ant-collapse-expand-icon {
  padding-inline-end: 8px !important;
  padding-inline-start: 0 !important;
}

.ant-collapse-item > div > .ant-collapse-content-box {
  padding: 0 !important;
}
