.ant-form-item {
  margin-bottom: 0 !important;
}

.ant-form-item-label {
  padding: 0 !important;
}

.ant-form-item-label > label {
  color: #5f5f5f !important;
  font-size: 13px !important;
}

.ant-form-item-explain-error {
  margin-top: -2px;
  font-size: 11px;
}

.library-form-input > .ant-form-item-row > .ant-form-item-control .ant-alert {
  margin-bottom: 8px;
}
