.ant-modal-mask {
  background-color: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(2px);
}

.ant-modal .ant-modal-content {
  padding: 0 !important;
}

.ant-modal .ant-modal-header {
  padding: 13px 20px 13px 24px;
  background: #154ea5;
}

.ant-modal .ant-modal-title {
  color: white !important;
  font-size: 15px !important;
  font-weight: 500 !important;
}

.ant-modal .ant-modal-close {
  display: flex !important;
  color: white;
}

.ant-modal .ant-modal-close:hover {
  color: white;
  background: rgb(255 255 255 / 12%);
}

.ant-modal .ant-modal-body {
  padding: 10px 20px 8px;
}

.ant-modal .ant-modal-footer {
  display: block !important;
  padding: 16px 24px;
  background: #f2f2f2;
  text-align: start !important;
}