.ant-table > .ant-table-container > .ant-table-content > table > thead.ant-table-thead > tr > th,
.ant-table > .ant-table-container > .ant-table-header > table > thead.ant-table-thead > tr > th {
  border-bottom: none !important;
  background-color: transparent !important;
  color: #5f5f5f;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 0.03em;
  line-height: 15px;
  text-align: left;
}

.ant-table > .ant-table-container > .ant-table-content > table > thead.ant-table-thead > tr > th::before,
.ant-table > .ant-table-container > .ant-table-header > table > thead.ant-table-thead > tr > th::before {
  display: none;
  height: 100% !important;
}

.ant-table > .ant-table-container > .ant-table-content > table > thead.ant-table-thead > tr:hover > th::before,
.ant-table > .ant-table-container > .ant-table-header > table > thead.ant-table-thead > tr:hover > th::before {
  display: block;
}

.ant-table > .ant-table-container > .ant-table-content > table > thead.ant-table-thead > tr:hover > th,
.ant-table > .ant-table-container > .ant-table-header > table > thead.ant-table-thead > tr:hover > th {
  cursor: pointer !important;
}

.ant-table > .ant-table-container > .ant-table-content > table > tbody.ant-table-tbody > tr > td,
.ant-table > .ant-table-container > .ant-table-body > table > tbody.ant-table-tbody > tr > td {
  border-top: 1px solid #d9d9d9 !important;
}

.ant-table > .ant-table-container > .ant-table-content > table > tbody.ant-table-tbody > tr:nth-of-type(1) > td,
.ant-table > .ant-table-container > .ant-table-body > table > tbody.ant-table-tbody > tr:nth-of-type(1) > td {
  border-top: none !important;
}

.ant-table > .ant-table-container > .ant-table-content > table > tbody.ant-table-tbody > tr:hover > td,
.ant-table > .ant-table-container > .ant-table-body > table > tbody.ant-table-tbody > tr:hover > td {
  background: #ebebeb !important;
}

.ant-table > .ant-table-container > .ant-table-content > table > tbody.ant-table-tbody > tr.ant-table-row-selected > td,
.ant-table > .ant-table-container > .ant-table-body > table > tbody.ant-table-tbody > tr.ant-table-row-selected > td {
  background: #f4f4f4 !important;
}

.ant-table-selection-column {
  text-align: center !important;
}

ul.ant-pagination.ant-table-pagination {
  justify-content: flex-start !important;
}

ul.ant-pagination.ant-table-pagination > li.ant-pagination-item {
  width: 30px !important;
  height: 30px !important;
  padding: 0 !important;
  border-radius: 2px;
  font-size: 13px;
  font-style: normal !important;
  font-weight: 600 !important;
  text-align: center !important;
}

ul.ant-pagination.ant-table-pagination > li.ant-pagination-item.ant-pagination-item-active {
  border-color: #323232 !important;
}

ul.ant-pagination.ant-table-pagination > li.ant-pagination-item.ant-pagination-item-active > a {
  border-color: #323232 !important;
  color: #323232 !important;
}

ul.ant-pagination.ant-table-pagination > li.ant-pagination-item > a {
  margin: 0 !important;
  padding: 0 !important;
  color: #085896 !important;
}

ul.ant-pagination.ant-table-pagination > li.ant-pagination-next > button > span > svg,
ul.ant-pagination.ant-table-pagination > li.ant-pagination-prev > button > span > svg {
  fill: #085896 !important;
}

ul.ant-pagination.ant-table-pagination > li.ant-pagination-next.ant-pagination-disabled > button > span > svg,
ul.ant-pagination.ant-table-pagination > li.ant-pagination-prev.ant-pagination-disabled > button > span > svg {
  fill: #085896 !important;
  opacity: 0.5 !important;
}
