.library-table-actions {
  margin-bottom: 12px;
}

.ant-table-thead > tr > th.library-table-resizable-column {
  position: relative;
}

.ant-table-thead > tr > th.library-table-resizable-column::after {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  cursor: col-resize;
  content: '';
  user-select: none;
}

.library-table .ant-table-cell:not(.ant-table-selection-column) {
  min-width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.library-table .ant-table-cell:not(.ant-table-selection-column) > * {
  max-width: 100%;
}

.ant-table > .ant-table-container > .ant-table-content > table > thead.ant-table-thead > tr > th,
.ant-table > .ant-table-container > .ant-table-header > table > thead.ant-table-thead > tr > th {
  border-bottom: 1px solid #d9d9d9 !important;
  background-color: transparent !important;
  color: #5f5f5f;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 0.03em;
  line-height: 15px;
  text-align: left;
}

.ant-table > .ant-table-container > .ant-table-content > table > thead.ant-table-thead > tr > th::before,
.ant-table > .ant-table-container > .ant-table-header > table > thead.ant-table-thead > tr > th::before {
  display: none !important;
  height: 100% !important;
}

.ant-table > .ant-table-container > .ant-table-content > table > thead.ant-table-thead > tr:hover > th::before,
.ant-table > .ant-table-container > .ant-table-header > table > thead.ant-table-thead > tr:hover > th::before {
  display: block !important;
}

.ant-table > .ant-table-container > .ant-table-content > table > thead.ant-table-thead > tr:hover > th,
.ant-table > .ant-table-container > .ant-table-header > table > thead.ant-table-thead > tr:hover > th {
  cursor: pointer !important;
}

.ant-table > .ant-table-container > .ant-table-content > table > tbody.ant-table-tbody > tr > td,
.ant-table > .ant-table-container > .ant-table-body > table > tbody.ant-table-tbody > tr > td {
  border-top: 1px solid #d9d9d9 !important;
}

.ant-table > .ant-table-container > .ant-table-content > table > tbody.ant-table-tbody > tr:nth-of-type(1) > td,
.ant-table > .ant-table-container > .ant-table-body > table > tbody.ant-table-tbody > tr:nth-of-type(1) > td {
  border-top: none !important;
}

.ant-table > .ant-table-container > .ant-table-content > table > tbody.ant-table-tbody > tr:hover > td,
.ant-table > .ant-table-container > .ant-table-body > table > tbody.ant-table-tbody > tr:hover > td {
  background: #ebebeb !important;
}

.ant-table > .ant-table-container > .ant-table-content > table > tbody.ant-table-tbody > tr.ant-table-row-selected > td,
.ant-table > .ant-table-container > .ant-table-body > table > tbody.ant-table-tbody > tr.ant-table-row-selected > td {
  background: #f4f4f4 !important;
}

.ant-table-selection-column {
  text-align: center !important;
}

ul.ant-pagination.ant-table-pagination {
  align-items: center;
  flex-wrap: wrap;
  row-gap: 6px;
  justify-content: flex-start !important;
  width: 100%;
  margin: 8px 0 0 !important;
  padding: 8px 16px 16px;
  border-top: 1px solid #d9d9d9;
  color: #5f5f5f;
  font-size: 12px;
}

ul.ant-pagination.ant-table-pagination > li.ant-pagination-item {
  min-width: 20px !important;
  width: auto !important;
  height: 24px !important;
  padding: 0 !important;
  border: 1px solid transparent;
  border-radius: 1px;
  font-size: 12px;
  font-style: normal !important;
  font-weight: 600 !important;
  text-align: center !important;
}

ul.ant-pagination.ant-table-pagination > li.ant-pagination-item.ant-pagination-item-active {
  min-width: 26px !important;
  border-color: #323232 !important;
}

ul.ant-pagination.ant-table-pagination > li.ant-pagination-item.ant-pagination-item-active > a {
  border-color: #323232 !important;
  color: #323232 !important;
}

ul.ant-pagination.ant-table-pagination > li.ant-pagination-item > a {
  margin: 0 !important;
  padding: 0 !important;
  color: #085896 !important;
}

ul.ant-pagination.ant-table-pagination > li.ant-pagination-prev,
ul.ant-pagination.ant-table-pagination > li.ant-pagination-next {
  min-width: auto;
  width: auto;
  height: 24px;
  margin-inline: 4px;
}

ul.ant-pagination.ant-table-pagination > li.ant-pagination-prev.ant-pagination-disabled {
  display: none;
}

ul.ant-pagination.ant-table-pagination .library-table-pagination-link {
  color: #085896;
  font-size: 12px;
  white-space: nowrap;
}

ul.ant-pagination.ant-table-pagination > li.ant-pagination-total-text {
  order: 2;
  height: 24px;
  margin-inline-start: 28px;
  line-height: 24px;
}

ul.ant-pagination.ant-table-pagination .library-table-pagination-total strong {
  color: #085896;
  font-weight: 400;
}

ul.ant-pagination.ant-table-pagination > li.ant-pagination-options {
  display: flex;
  order: 3;
  align-items: center;
  height: 24px;
  margin-inline-start: 28px;
}

ul.ant-pagination.ant-table-pagination > li.ant-pagination-options::before {
  margin-inline-end: 12px;
  color: #5f5f5f;
  content: 'Строк на странице:';
  white-space: nowrap;
}

ul.ant-pagination.ant-table-pagination .ant-select-selector {
  min-width: 60px;
  height: 24px !important;
  border-color: #bcbcbc !important;
  border-radius: 1px !important;
}

ul.ant-pagination.ant-table-pagination .ant-select-selection-item {
  padding-inline-end: 18px !important;
  line-height: 22px !important;
}

ul.ant-pagination.ant-table-pagination > li.ant-pagination-next > button > span > svg,
ul.ant-pagination.ant-table-pagination > li.ant-pagination-prev > button > span > svg {
  fill: #085896 !important;
}

ul.ant-pagination.ant-table-pagination > li.ant-pagination-next.ant-pagination-disabled > button > span > svg,
ul.ant-pagination.ant-table-pagination > li.ant-pagination-prev.ant-pagination-disabled > button > span > svg {
  fill: #085896 !important;
  opacity: 0.5 !important;
}
